@import "/src/styles.scss";

.card{
    width: 18rem;
  
    background-image: linear-gradient(to bottom, grey,white);
}

#productos{
    background-color: $primary;
    color:white;
    
    // height: 80%;
    // width: 100%;
}

