#detail__artista{
    -webkit-text-stroke: 0.3px red;
}
#detail__album{
    -webkit-text-stroke: 0.3px red;
}
#detail__precio{
    -webkit-text-stroke: 0.3px red;
}
#detail__año{
    -webkit-text-stroke: 0.3px red;
}