//PATRONES DE COLORES
$c_principal:#000000;
$c_secundario: #3D0000;
$c_terciario:#950101;
$c_cuarto: #FF0000; 

//VARIABLES BOOTSTRAP MODIFICADAS
$primary:$c_principal;
$danger:$c_cuarto;

//Opciones BOOTSTRAP
$enable-shadows:true;
$spacer:2rem;



@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/variables";
//CSS GENERAL
body{
    background-image: linear-gradient(to bottom, $primary,grey) ;
    
}
